terratowns_endpoint = "https://terratowns.cloud/api"


north2 = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/north2"
    content_version = 1
}

north = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/north"
    content_version = 1
}