user_uuid="392ed791-59e5-4fa9-ad05-65a5bf704778"
bucket_name="hshshshshnsjhsjsjsjsjsj2a"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1
